%h1 Categories

- for category in @categories
  %div.shadowed-box
    = link_to "New Category", new_admin_category_path
    %br
    %br
      %table
        %tr
          %th.rounded-upper-left Name
          %th.rounded-upper-right Challenges
          %tr{:class => cycle("even", "odd") }
            %td= link_to category.name, ['admin', category]
            %td= category.challenges.size